<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @repository_type.name %>
</p>


<%= link_to 'Edit', edit_repository_type_path(@repository_type) %> |
<%= link_to 'Back', repository_types_path %>
